  <table class="table">
    <thead>
      <tr>
        <th scope="col">Contact ID</th>
        <th scope="col">Date</th>
        <th scope="col">Customer Number</th>
        <th scope="col">Owner</th>
        <th scope="col">Status</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voicemail of paginatedVoicemailList()">
        <td scope="row">{{ voicemail.contactId }}</td>
        <td scope="row">{{ voicemail.date }}</td>
        <td scope="row">{{ voicemail.phone }}</td>
        <td scope="row">{{ voicemail.user.userName }}</td>
        <td scope="row">{{ voicemail.status }}</td>
        <td>
          <button
            type="button"
            class="btn btn-dark"
            data-toggle="modal"
            data-target="#EditAddVoicemail"
            (click)="openModel(voicemail)"
          >
            <i class="fa fa-list" aria-hidden="true"></i> Follow up
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="archiveVoicemail(voicemail)"
          >
            <i class="fa fa-archive" aria-hidden="true"></i> Archive
          </button>
        </td>
      </tr>
    </tbody>
  </table>

<!-- Pagination controls -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" [class.disabled]="!hasPrevPage()">
      <a class="page-link" href="#" aria-label="Previous" (click)="prevPage($event)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of totalPages()" [class.active]="page === currentPage">
      <a class="page-link" href="#" (click)="setCurrentPage(page, $event)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="!hasNextPage()">
      <a class="page-link" href="#" aria-label="Next" (click)="nextPage($event)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>


  <!-- Modal -->
  <div
    class="modal fade"
    id="EditAddVoicemail"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" voicemail="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Voicemail</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">ContactId</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="tempVoicemail.contactId"
              readonly
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
            </div>
            <input
              type="datetime"
              class="form-control"
              [(ngModel)]="tempVoicemail.date"
              readonly
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Customer Number</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="tempVoicemail.phone"
              readonly
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Language</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="tempVoicemail.language"
              readonly
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Recording URL</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="tempVoicemail.recordingUrl"
              readonly
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Transcription</span>
            </div>
            <textarea 
              type="text"
              class="form-control"
              [(ngModel)]="tempVoicemail.transcription"
              name="transcription"
              rows="3"
              readonly
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Owner</label>
            </div>
            <select
              class="custom-select"
              id="inputGroupSelect01"
              [(ngModel)]="tempVoicemail.user.id"
            >
              <option selected>Choose...</option>
              <option *ngFor="let user of userList" [value]="user.id">
                {{ user.userName }}
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Status</label>
            </div>
            <select
              class="custom-select"
              id="inputGroupSelect01"
              [(ngModel)]="tempVoicemail.status"
            >
              <option selected>Choose...</option>
              <option selected>Open</option>
              <option selected>In progress</option>
              <option selected>Hold on</option>
              <option selected>Resolved</option>
            </select>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Commentary</span>
          </div>
          <textarea 
            type="text"
            class="form-control"
            [(ngModel)]="tempVoicemail.commentary"
            name="commentary"
            rows="3"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            *ngIf="!creatingMode"
            type="button"
            class="btn btn-primary"
            (click)="modifyVoicemail()"
          >
            Save Changes
          </button>
          <button
            *ngIf="creatingMode"
            type="button"
            class="btn btn-primary"
            (click)="createVoicemail()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
