<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voxpress</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h1 class="title">Voxpress</h1>
  <div class="card">
    <div class="card-head">
      <b>Application for Voicemail Management in Amazon Connect</b>
    </div>
    <div class="card-body">
      <b>Voxpress</b> integrates with Voicemail Express, a feature designed to provide basic voicemail functionality to Amazon Connect. You easily manage all the voicemails your customers leave. You can listen to them, archive the ones you've handled, or assign them to someone on your team for follow-up. It's a handy spot to keep track of all your customer voice messages and ensure nothing slips through the cracks.
      <br>
      <img class="architecture" src="https://raw.githubusercontent.com/amazon-connect/voicemail-express-amazon-connect/main/Docs/Img/VMX3.png" alt="Voicemail Express Amazon Connect Architecture" width="600" height="300" title="VMX3 Architecture">
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-dark" onclick="window.open('https://github.com/amazon-connect/voicemail-express-amazon-connect', '_blank')">
          <b>Visit Feature Repository</b>
        </button>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (Optional, for functionality like modals) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
